<%- include('header'); -%>
    <div class="container-fluid">
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Doanh thu hôm nay</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%= (Intl.NumberFormat().format(dayRevenue)).replaceAll(',','.') %> vnđ
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Lợi nhuận hôm nay</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%= (Intl.NumberFormat().format(dayRevenue - costDay)).replaceAll(',','.')  %> vnđ
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Doanh thu tháng này
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                            <%= (Intl.NumberFormat().format(monthRevenue)).replaceAll(',','.')  %> vnđ
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Lợi nhuận tháng này</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%= (Intl.NumberFormat().format(monthRevenue - costMonth)).replaceAll(',','.')  %>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

    </div>
    <script>

        $('#search').change(() => {
            const date = $('#search').val().trim();
            const token = $('meta[name="csrf-token"]').attr('content')
            const apiUrl = '/admin/price'

            $.ajax({
                url: apiUrl,
                headers: {
                    'CSRF-Token': token
                },
                method: 'POST',
                data: {
                    date
                },
                success: (data) => {
                    const { dayRevenue,
                        costDay,
                        monthRevenue,
                        costMonth, } = data
                    console.log(data);
                    $('#todayRevenue').html(` ${Intl.NumberFormat().format(dayRevenue)}`)
                    $('#costDay').html(` ${Intl.NumberFormat().format(costDay)}`)
                    $('#totalDay').html(`<i
                                                            class="${dayRevenue - costDay >= 0 ? 'ri-arrow-right-up-line' : 'ri-arrow-right-down-line'}  fs-13 align-middle"></i> ${Intl.NumberFormat().format(dayRevenue - costDay)} đ`)
                        .addClass(dayRevenue - costDay >= 0 ? 'text-success' : 'text-danger')
                        .removeClass(dayRevenue - costDay >= 0 ? 'text-danger' : 'text-success')
                    $('#monthRevenue').html(` ${Intl.NumberFormat().format(monthRevenue)}`)
                    $('#costMonth').html(` ${Intl.NumberFormat().format(costMonth)}`)
                    $('#totalMonth').html(`<i
                                                            class="${monthRevenue - costMonth >= 0 ? 'ri-arrow-right-up-line' : 'ri-arrow-right-down-line'}  fs-13 align-middle"></i> ${Intl.NumberFormat().format(monthRevenue - costMonth)} đ`)
                        .addClass(monthRevenue - costMonth >= 0 ? 'text-success' : 'text-danger')
                        .removeClass(monthRevenue - costMonth >= 0 ? 'text-danger' : 'text-success')
                }
            })
        })

    </script>