<%- include('header'); -%>
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="card shadow mb-4">
    
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Mã giao dịch</th>
                                <th>Sđt chuyển</th>
                                <th>Sđt nhận</th>
                                <th>Số tiền</th>
                                <th>Nội dung</th>
                                <th>Loại</th>
                                <th>Thời gian chuyển</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Mã giao dịch</th>
                                <th>Sđt chuyển</th>
                                <th>Sđt nhận</th>
                                <th>Số tiền</th>
                                <th>Nội dung</th>
                                <th>Loại</th>
                                <th>Thời gian chuyển</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% list.forEach((item,index)=> { %>
                                <tr>
                                    <td>
                                        <%= ++index %>
                                    </td>
                                    <td>
                                        <%= item.tradingCode %>
                                    </td>
                                    <td>
                                        <%= item.transferPhone %>
                                    </td>
                                    <td>
                                        <%=item.receivingPhone %>
                                    </td>
                                    <td>
                                        <%= (Intl.NumberFormat().format(item.amount)).replaceAll(',','.') %>
                                    </td>
                                    <td>
                                        <%= item.comment %>
                                    </td>
                                    <td><%- item.type ==='reward' ? `<span class="badge badge-pill badge-success">Trả thưởng</span>`: item.type === 'refund' ? `<span class="badge badge-pill badge-warning">Hoàn tiền</span>`: `<span class="badge badge-pill badge-danger">Trao thưởng</span>` %></td>
                                    <td>
                                        <%= (item.createdAt).toLocaleString('es-CL') %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    </div>
    <%- include('footer') %>